.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  box-shadow: 0 0.5rem 1.5rem 0 rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 8rem;
  border-radius: 1.3rem;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 9999;

  &__logo {
    color: #222;
    font-size: 2rem;
    cursor: pointer;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-gap: 1rem;
    list-style: none;
    text-align: center;

    button {
      padding: 0.5rem 1rem;
      white-space: nowrap;
      border-radius: 0.3rem;
      font-size: 1rem;
      font-weight: 600;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: #151516;
        color: #fff;
        transition: 0.2s ease-in-out;
      }
    }
  }

  &__icons {
    display: none;
  }

  &__links {
    text-decoration: none;
    color: #222;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0.7rem 1rem;
    white-space: nowrap;

    &:hover {
      background-color: #01959a;
      color: #fff;
      border-radius: 0.4rem;
      transition: all 0.2s ease-in-out;
    }

    i {
      padding-right: 1rem;
    }

    &-mobile {
      display: none;
    }
  }
}

@media screen and (max-width: 850px) {
  .navbar {
    z-index: 99;

    &__menu {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      background: #fff;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: -100%;
      opacity: 0;
      align-items: stretch;
      padding: 8rem 0 3rem 0;
      margin: 0;
      transition: 0.3s ease-in-out;
      border-radius: 1.3rem;

      button {
        display: none;
      }
    }

    &__icons {
      display: block;
      cursor: pointer;

      i {
        font-size: 1.2rem;
        color: #222;
      }
    }

    &__menu__active {
      left: 0;
      opacity: 1;
      z-index: -1;
      transition: 0.3s ease-in-out;
    }

    &__links {
      display: block;
      width: 100%;
      font-size: 1.2rem;
      padding: 2rem 0;

      &:hover {
        background: #01959a;
        transition: none;
      }
      &-mobile {
        display: block;
        text-align: center;
        padding: 1.5rem;
        margin: auto;
        border-radius: 0.4rem;
        width: 80%;
        background: #01959a;
        text-decoration: none;
        color: #fff;
        font-size: 1.2rem;
        font-weight: 700;
        letter-spacing: 0.2rem;
      }
    }
  }
}
